In [3]:
import pandas as pd

In [16]:
df = pd.read_csv("Calgary_Transit_Ridership_20251030.csv")

In [17]:
df = df.drop_duplicates()
df

,Year,Month,Adult Book of Tickets Ridership,Adult Cash-Single Ticket Ride Ridership,Adult Day Pass Ridership,Adult Low Income Monthly Pass Ridership,Adult Monthly Pass Ridership,Adult Ridership,Airport BRT Ridership - Total Trips,Boarding Passengers,...,Seniors Regular Pass Ridership,U-Pass Ridership,Youth Book of Tickets Ridership,Youth Cash-Single Ticket Ride Ridership,Youth Day Pass Ridership,Youth Low Income Monthly Pass Ridership,Youth Monthly Pass Ridership,Youth Ridership,Weekend Group Pass Ridership,Date
0,2025,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025/06
1,2025,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025/05
2,2025,Apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025/04
3,2025,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025/03
4,2025,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025/02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,1975,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975/01
473,1974,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974/01
474,1973,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1973/01
475,1972,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972/01
476,1971,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971/01

In [22]:
ridership_cols = ['Year', 'Month', 'Ridership', 'Youth Ridership', 'Adult Ridership', 'U-Pass Ridership' ]
df = df[ridership_cols]
df

     Year Month Ridership Youth Ridership Adult Ridership U-Pass Ridership
0    2025   Jun       NaN             NaN             NaN              NaN
1    2025   May       NaN             NaN             NaN              NaN
2    2025   Apr       NaN             NaN             NaN              NaN
3    2025   Mar       NaN             NaN             NaN              NaN
4    2025   Feb       NaN             NaN             NaN              NaN
..    ...   ...       ...             ...             ...              ...
472  1975   Jan       NaN             NaN             NaN              NaN
473  1974   Jan       NaN             NaN             NaN              NaN
474  1973   Jan       NaN             NaN             NaN              NaN
475  1972   Jan       NaN             NaN             NaN              NaN
476  1971   Jan       NaN             NaN             NaN              NaN

[477 rows x 6 columns]

In [28]:
df["Ridership"] = df["Ridership"].str.strip()
df

     Year Month Ridership Youth Ridership Adult Ridership U-Pass Ridership
0    2025   Jun       NaN             NaN             NaN              NaN
1    2025   May       NaN             NaN             NaN              NaN
2    2025   Apr       NaN             NaN             NaN              NaN
3    2025   Mar       NaN             NaN             NaN              NaN
4    2025   Feb       NaN             NaN             NaN              NaN
..    ...   ...       ...             ...             ...              ...
472  1975   Jan       NaN             NaN             NaN              NaN
473  1974   Jan       NaN             NaN             NaN              NaN
474  1973   Jan       NaN             NaN             NaN              NaN
475  1972   Jan       NaN             NaN             NaN              NaN
476  1971   Jan       NaN             NaN             NaN              NaN

[477 rows x 6 columns]