In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("Calgary_Transit_Ridership_20251030.csv")

In [41]:
df = df.drop_duplicates()

In [42]:
ridership_cols = ['Year', 'Month', 'Ridership', 'Youth Ridership', 'Adult Ridership', 'U-Pass Ridership' ]
df = df[ridership_cols]

In [45]:
df = df.dropna()
pd.set_option('display.max_rows', None)

In [ ]:
df = df.reset_index(drop = True)
df

     Year Month   Ridership Youth Ridership Adult Ridership U-Pass Ridership
0    2025   Jan   8,147,400       1,068,110       4,554,859        1,032,000
1    2024   Dec   7,674,900       1,073,674       4,244,065          698,000
2    2024   Nov   8,548,900       1,269,241       4,577,247          985,500
3    2024   Oct  10,032,900       1,493,054       5,408,299        1,196,900
4    2024   Sep   9,364,500       1,469,657       5,005,432        1,148,800
5    2024   Aug   7,740,400         587,170       5,178,520          306,300
6    2024   Jul   7,806,200         714,227       4,942,520          371,600
7    2024   Jun   7,901,100       1,031,024       4,780,933          386,700
8    2024   May   8,677,500       1,340,179       5,253,278          416,900
9    2024   Apr   7,859,800       1,175,821       4,322,748          818,600
10   2024   Mar   8,863,600       1,359,747       4,835,345        1,010,700
11   2024   Feb   8,783,400       1,430,792       4,746,751          940,800
12   2024   Jan   7,896,700       1,073,128       4,289,712          993,800
13   2023   Dec   7,503,700       1,287,960       3,853,036          708,400
14   2023   Nov   8,367,100       1,321,831       4,324,070        1,054,900
15   2023   Oct   8,573,700       1,415,019       4,349,305        1,110,900
16   2023   Sep   8,756,200       1,466,524       4,449,125        1,125,000
17   2023   Aug   6,952,400         537,247       4,579,816          275,300
18   2023   Jul   7,007,800         718,600       4,389,870          313,900
19   2023   Jun   7,237,900       1,116,427       4,332,823          338,800
20   2023   May   7,501,500       1,356,764       4,360,054          360,700
21   2023   Apr   7,005,300       1,155,626       3,324,824          646,204
22   2023   Mar   7,472,700       1,283,019       3,390,596          944,902
23   2023   Feb   6,631,200       1,193,757       2,984,112          754,123
24   2023   Jan   6,956,200       1,205,811       3,122,118          893,859
25   2022   Dec   6,225,400       1,242,694       3,033,061          507,634
26   2022   Nov   6,291,900       1,443,105       3,243,276          775,698
27   2022   Oct   6,291,400       1,429,271       3,207,573          832,027
28   2022   Sep   6,015,000       1,186,583       3,212,034          883,438
29   2022   Aug   4,513,200         489,398       3,053,725          180,863
30   2022   Jul   4,756,900         627,495       2,973,905          199,378
31   2022   Jun   4,482,600         892,015       2,487,342          217,909
32   2022   May   4,448,400         994,158       2,348,534          218,407
33   2022   Apr   4,004,300         862,319       1,908,556          377,101
34   2022   Mar   4,199,500         880,903       1,850,326          595,412
35   2022   Feb   2,883,600         679,208       1,224,052          255,197
36   2022   Jan   2,797,700         493,979       1,257,310          219,429
37   2021   Dec   2,991,400         640,733       1,505,093          130,751
38   2021   Nov   3,413,300         881,414       1,569,377          271,200
39   2021   Oct   3,312,000         816,394       1,531,492          290,200
40   2021   Sep   3,467,100         856,386       1,638,651          385,300
41   2021   Aug   2,759,100         302,410       1,788,418            8,700
42   2021   Jul   2,694,600         319,286       1,763,769            8,700
43   2021   Jun   2,480,000         564,025       1,476,174            8,700
44   2021   May   1,988,000         192,281       1,322,366            4,700
45   2021   Apr   2,046,000         533,830       1,173,081                0
46   2021   Mar   2,292,700         625,532       1,295,931                0
47   2021   Feb   1,914,000         631,595       1,026,900                0
48   2021   Jan   1,989,500         350,476       1,206,487                0
49   2020   Dec   3,007,400         274,400       1,713,000                0
50   2020   Nov   4,311,170         965,550       2,196,360                0
51   2020   Oct   4,670,400       1,039,100       2,334,300                0
52   2020   Sep   4,935,500       1,072,900       2,586,900                0
53   2020   Aug   3,566,300         237,600       2,086,800                0
54   2020   Jul   3,172,800         191,900       1,634,200                0
55   2020   Jun   1,749,400         155,300       1,027,700                0
56   2020   May   1,341,700          47,300         368,000                0
57   2020   Apr   1,277,830          71,700         298,200           59,126
58   2020   Mar   5,470,550       1,026,100       3,180,500          525,560
59   2020   Feb   8,913,808       1,681,600       5,108,700          895,400
60   2020   Jan   8,531,126       1,503,900       4,936,500          781,000
61   2019   Dec   8,625,200       1,650,600       4,856,800          788,600
62   2019   Nov   9,727,900       1,966,800       5,436,700        1,050,400
63   2019   Oct   9,714,200       1,945,600       5,423,200        1,050,400
64   2019   Sep   9,476,800       1,856,700       5,275,100        1,072,000
65   2019   Aug   7,582,400         815,200       5,234,300          293,800
66   2019   Jul   8,578,481       1,132,783       5,913,098          197,200
67   2019   Jun   8,572,300       1,682,700       5,415,600          204,400
68   2019   May   8,716,900       1,679,900       5,588,600          204,400
69   2019   Apr   8,990,600       1,744,900       5,204,800          794,900
70   2019   Mar   9,238,726       1,718,200       5,240,100          976,100
71   2019   Feb   8,933,266       1,798,600       5,008,500          931,200
72   2019   Jan   8,328,610       1,404,600       4,806,700          812,300
73   2018   Dec   8,696,000       1,785,400       4,127,700          788,600
74   2018   Nov   9,551,200       1,908,300       4,965,700        1,050,400
75   2018   Oct   9,682,300       1,914,400       4,960,100        1,050,400
76   2018   Sep   9,467,600       1,916,300       4,964,100        1,072,000
77   2018   Aug   7,505,600         755,100       4,793,600          293,800
78   2018   Jul   8,493,421       1,070,968       5,337,400          197,200
79   2018   Jun   8,497,700       1,550,100       5,109,400          204,400
80   2018   May   8,627,500       1,690,700       4,958,300          204,400
81   2018   Apr   8,751,300       1,637,100       4,859,700          794,900
82   2018   Mar   9,052,127       1,663,300       4,957,200          976,100
83   2018   Feb   8,846,679       1,708,800       4,774,700          931,200
84   2018   Jan   8,176,621       1,254,600       5,059,400          812,300
85   2017   Dec   8,322,400       1,643,100       4,533,400          788,600
86   2017   Nov   9,255,200       1,779,900       5,132,300        1,050,400
87   2017   Oct   9,223,100       1,810,900       4,990,100        1,050,400
88   2017   Sep   9,294,400       1,821,900       5,092,600        1,072,000
89   2017   Aug   7,270,400         755,800       4,935,900          293,800
90   2017   Jul   8,289,710         988,127       5,729,783          197,200
91   2017   Jun   8,323,800       1,466,900       5,350,000          204,400
92   2017   May   8,301,400       1,574,700       5,237,300          204,400
93   2017   Apr   8,361,100       1,446,200       4,837,500          794,900
94   2017   Mar   9,012,739       1,601,900       5,101,900          976,100
95   2017   Feb   8,609,878       1,560,400       4,889,500          931,200
96   2017   Jan   7,665,345       1,091,700       4,423,400          812,300
97   2016   Dec   8,050,200       1,374,700       4,534,300          788,600
98   2016   Nov   9,058,800       1,618,000       5,080,600        1,050,400
99   2016   Oct   8,990,000       1,547,800       5,057,500        1,050,400
100  2016   Sep   9,069,300       1,590,000       5,095,400        1,072,000
101  2016   Aug   6,832,200         448,800       4,811,600          293,800
102  2016   Jul   8,060,700         864,300       5,625,800          197,200
103  2016   Jun   8,227,900       1,383,800       5,339,100          204,400
104  2016   May   8,346,600       1,524,100       5,334,300          204,400
105  2016   Apr   8,908,700       1,573,000       5,259,100          794,900
106  2016   Mar   9,135,209       1,501,300       5,329,800          976,100
107  2016   Feb   8,961,869       1,535,400       5,247,400          931,200
108  2016   Jan   8,857,475       1,501,900       5,208,100          812,300
109  2015   Dec   8,607,900       1,477,900       4,907,400          788,600
110  2015   Nov   9,422,400       1,680,900       5,310,600        1,050,400
111  2015   Oct   9,904,400       1,706,000       5,742,100        1,050,400
112  2015   Sep   9,832,500       1,679,000       5,697,800        1,072,000
113  2015   Aug   7,500,900         551,100       5,308,800          293,800
114  2015   Jul   8,848,000         937,300       6,270,100          197,200
115  2015   Jun   8,921,400       1,440,300       5,904,600          204,400
116  2015   May   9,138,400       1,606,000       5,976,300          204,400
117  2015   Apr   9,437,400       1,555,600       5,735,900          794,900
118  2015   Mar   9,940,221       1,630,400       5,933,700          976,100
119  2015   Feb   9,556,788       1,595,000       5,733,500          931,200
120  2015   Jan   8,864,252       1,266,300       6,042,000          812,300
121  2014   Dec   9,111,116       1,536,100       4,856,200          776,900
122  2014   Nov   9,939,686       1,682,400       6,024,800        1,034,800
123  2014   Oct  10,100,000       1,750,400       6,116,600        1,034,800
124  2014   Sep   9,915,480       1,683,400       5,976,500        1,056,100
125  2014   Aug   7,551,394         456,600       5,632,400          289,500
126  2014   Jul   8,725,424         796,200       6,474,700          194,200
127  2014   Jun   8,830,382       1,330,100       6,110,700          201,300
128  2014   May   9,036,444       1,577,200       6,081,000          201,300
129  2014   Apr   9,198,210       1,566,400       5,674,000          783,000
130  2014   Mar   9,391,163       1,539,400       5,673,500          961,600
131  2014   Feb   8,978,416       1,486,700       5,451,400          917,400
132  2014   Jan   9,468,401       1,639,100       5,806,600          800,200
133  2013   Dec   8,174,616         508,800       5,601,600          776,900
134  2013   Nov   9,714,176       1,548,300       5,879,700        1,034,800
135  2013   Oct  10,000,000       1,842,000       5,849,400        1,034,800
136  2013   Sep   9,712,708       1,633,600       5,755,200        1,056,100
137  2013   Aug   7,509,737         540,900       5,458,100          289,500
138  2013   Jul   8,420,609         884,500       6,036,600          194,200
139  2013   Jun   8,294,250       1,299,000       5,665,000          201,300
140  2013   May   9,061,531       1,613,000       6,004,000          201,300
141  2013   Apr   9,173,868       1,569,300       5,595,300          783,000
142  2013   Mar   9,462,486       1,633,400       5,594,100          961,600
143  2013   Feb   9,163,172       1,655,600       5,421,000          917,400
144  2013   Jan   8,774,552       1,145,300       5,556,400          800,200
145  2012   Dec   8,320,290       1,545,300       4,673,600          735,600
146  2012   Nov   9,174,159       1,673,200       5,157,600          981,421
147  2012   Oct   9,240,313       1,733,000       5,197,100          956,800
148  2012   Sep   9,243,686       1,705,700       5,263,100          976,400
149  2012   Aug   7,442,258         602,000       5,287,700          267,600
150  2012   Jul   8,291,561         835,100       5,906,000          179,600
151  2012   Jun   8,182,223       1,393,900       5,309,300          186,100
152  2012   May   8,586,441       1,623,100       5,482,200          186,100
153  2012   Apr   8,459,562       1,495,700       5,037,800          642,000
154  2012   Mar   8,909,578       1,663,800       5,041,100          873,600
155  2012   Feb   8,729,910       1,705,100       4,954,600          817,400
156  2012   Jan   7,391,633         928,300       4,434,800          700,100
157  2011   Dec   8,072,190       1,549,800       4,531,000          724,600
158  2011   Nov   8,992,572       1,657,700       5,119,100          963,011
159  2011   Oct   8,780,319       1,676,800       4,933,600          924,300
160  2011   Sep   8,761,225       1,662,300       4,945,900          942,500
161  2011   Aug   6,824,924         490,700       4,890,400          263,380
162  2011   Jul   7,423,985         827,400       5,198,300          175,500
163  2011   Jun   7,669,186       1,237,700       5,049,600          182,000
164  2011   May   7,887,738       1,520,000       4,992,600          182,000
165  2011   Apr   7,797,244       1,478,200       4,504,400          629,200
166  2011   Mar   8,355,050       1,523,400       4,743,300          858,580
167  2011   Feb   7,815,620       1,473,300       4,390,100          799,349
168  2011   Jan   7,823,674       1,384,300       4,527,500          685,100
169  2010   Dec   7,720,854       1,448,300       4,302,900          692,900
170  2010   Nov   8,561,823       1,632,500       4,765,600          924,300
171  2010   Oct   8,616,193       1,663,900       4,778,900          924,300
172  2010   Sep   8,484,691       1,639,900       4,693,700          942,500
173  2010   Aug   6,473,079         485,600       4,558,200          263,380
174  2010   Jul   7,264,581         734,400       5,088,600          175,500
175  2010   Jun   7,748,157       1,385,800       4,956,000          182,000
176  2010   May   7,856,638       1,512,200       4,946,400          182,000
177  2010   Apr   7,779,578       1,412,100       4,531,100          629,200
178  2010   Mar   8,305,672       1,487,100       4,706,500          852,800
179  2010   Feb   8,263,052       1,620,500       4,662,100          799,349
180  2010   Jan   7,293,312       1,390,800       3,962,200          685,100
181  2009   Dec   7,636,300       1,497,000       4,354,300          555,000
182  2009   Nov   8,429,600       1,639,900       4,802,100          773,000
183  2009   Oct   8,469,308       1,648,000       4,857,500          741,000
184  2009   Sep   8,685,202       1,637,700       4,795,300          773,100
185  2009   Aug   6,292,477         487,300       4,479,600          202,600
186  2009   Jul   7,225,537         487,300       5,108,200          135,000
187  2009   Jun   7,674,978         746,800       4,996,800          140,000
188  2009   May   7,843,462       1,366,900       4,996,000          165,000
189  2009   Apr   8,085,225       1,524,200       4,838,200          587,800
190  2009   Mar   8,420,434       1,509,600       5,020,600          679,000
191  2009   Feb   8,151,867       1,539,300       4,849,000          637,000
192  2009   Jan   7,236,527       1,086,600       4,365,900          590,450
193  2008   Dec   7,986,112       1,489,322       4,608,326          689,758
194  2008   Nov   8,417,149       1,610,371       4,929,672          689,758
195  2008   Oct   9,113,277       1,682,560       5,457,466          770,508
196  2008   Sep   8,696,034       1,625,457       5,177,746          740,058
197  2008   Aug   6,797,743         582,976       4,896,267          184,000
198  2008   Jul   7,910,232         855,263       5,619,179          113,200
199  2008   Jun   7,709,657       1,254,979       5,171,706          113,200
200  2008   May   7,802,389       1,482,695       5,044,722          113,200
201  2008   Apr   8,113,411       1,500,962       4,889,255          569,058
202  2008   Mar   7,926,613       1,486,226       4,730,069          524,000
203  2008   Feb   7,543,397       1,474,848       4,449,867          524,000
204  2008   Jan   7,298,035       1,325,432       4,274,194          508,000
205  2007   Dec   7,267,905       1,513,608       4,264,715          342,000
206  2007   Nov   7,729,867       1,611,180       4,720,391          733,000
207  2007   Oct   7,909,218       1,574,183       4,834,944          738,000
208  2007   Sep   7,560,208       1,653,607       4,733,187          712,000
209  2007   Aug   6,954,599         586,866       4,592,561          111,000
210  2007   Jul   7,264,307         821,376       5,290,564          111,000
211  2007   Jun   7,326,853       1,330,087       4,686,986          111,000
212  2007   May   6,364,340       1,414,890       4,299,796          111,000
213  2007   Apr   8,188,710       1,444,825       4,490,332          509,000
214  2007   Mar   8,313,674       1,625,295       4,621,616          509,000
215  2007   Feb   8,160,390       1,616,713       4,465,424          584,947
216  2007   Jan   7,256,324       1,219,464       4,376,385          535,264